*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Fira Sans", sans-serif;
    overflow-x: hidden;
}

.iconoHeader{
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.iconoHeader:hover{
    transform: scale(1.2);
}

.headerUl li a{
    color: white;
}
.headerUl li a:hover {
    color: rgb(77, 76, 76);
}

.porArriba{
    z-index: 1;
}

.mainOpciones {
    font-size: 4rem;
    text-shadow: rgb(238, 237, 234) 1px 0 10px;
    transition: all 0.4s;
}

.mainOpciones:hover {
    transform: scale(1.03);
}

.links {
    text-decoration: none;
}

.mainTextoOpciones {
    font-size: 3rem;
    line-height: 1;
}

.estrellas {
    font-size: 30px;
    transition: color 0.3s;
    cursor: pointer;
}

.estrellas:hover,
.estrellas.checked{
    color: gold;
}

.botonCarrito {
    cursor: pointer;
}

.imgprodCarrito img{
    width: 80px;
    height: 80px;
}

.productoCarrito {
    border-bottom: 2px solid white;
    border-radius: 1%;
}