body {
    background-color: black;
    font-family: "Fira Sans", sans-serif;
    overflow-x: hidden;
}

.iconoHeader{
    width: 100px;
    height: 100px;
}

.header{
    z-index: 1;
}

.fondoIndex {
    z-index: 0;
    position: absolute;
    top: 0px;
}