body {
    background-color: black;
    font-family: "Fira Sans", sans-serif;
    overflow-x: hidden;
}

.iconoHeader{
    width: 100px;
    height: 100px;
}

.porArriba{
    z-index: 1;
}

.mainOpciones {
    font-size: 4rem;
}

.mainTextoOpciones {
    font-size: 2.5rem;
}